body {
  font-family: Arial;
  background: #0f172a;
  color: #fff;
}

.center-box {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ads {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.ad {
  background: #020617;
  padding: 10px;
  border-radius: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
}

.hidden {
  display: none;
}